*{
    padding: 0;
    margin: 0;
   
    font-family: var(--font-family);
}
body{
   max-width: 1700px;
}
:root{
    --font-family:'IranYekan', sans-serif;

}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.left-login{
    display: flex;
    align-items: center;
   
   
}
header{
    
        box-shadow: 0 1px 0 rgba(0, 0, 0, .14), 0 2px 0 rgba(0, 0, 0, .05);
}
.add{
    width: 100%;
    height: 100%;
}
.right-header{
    display: flex;
    align-items: center;
    justify-content:flex-end ;
    gap: 20px;
}
.search-box{
    width: 500px;
    cursor: pointer;
    /* position: relative; */
    align-items: center;
    display: flex;
    background-color: rgb(246, 243, 243);
    height: 45px;
    border-radius: 3px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in;
}


.search-box:focus-within{
     outline: none;
    background-color: white;
    box-shadow:  0 0 10px rgba(128, 128, 128, 0.3);  ;
   
}
.box{
    padding-right: 10px;
    width: 100%;
    font-family:var(--font-family) ;
    color: black;
    background-color: transparent;
    border: none;
    outline: none;
}
.container-box{
    margin-right: 20px;
    width: 90%;
    height:fit-content;
    display: flex;
    border-bottom: 1px solid transparent;
    transition: all 0.3s ease-in;
}
.container-box:focus-within{
background-color: white;
border-bottom: 1px solid rgb(100, 164, 247);
}
.login{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(205, 203, 203);
    height: 40px;
    padding: 0 10px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer
    /* justify-content: space-evenly; */
}
.shopping{
    margin-left: 20px;
    cursor: pointer;
}
.container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.menu{
    margin-right: 20px;
    display: flex;
    gap: 30px;
    font-size: 12px;
    cursor: pointer;
    
}
.item-menu{
    /* position: relative; */
    display: flex;
    align-items: center;
    gap: 5px;
    color: gray;
    font-size: 11px;
    list-style-type: none;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s ease-out;
   
}
.item-menu:hover{
    border-color: red;
}
/* .item-menu::after{
    content: "";
    background-color: red;
    height: 2px;
    width: 100%;
    bottom: -1px;
    left: 0;
    position: absolute;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;

} */
/* .item-menu:hover::after{
    transform: scaleX(1);
    
} */
.item-1:first-child{
    color: black;
    font-weight: 600;
    font-size: 13px;
}
.location{
    display: flex;
    align-items: center;
    height: 35px;
    padding: 0 10px;
    cursor: pointer; 
    font-size: 12px;
    background-color: rgb(248, 232, 201);
    color: rgb(244, 131, 2);
    margin-left: 28px;
    border-radius: 100px;
   
}
.special-offer-1{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 12px;
    gap: 8px;
    cursor: pointer;
}
.special-offer{
    display: flex;
    /* flex-direction: column; */
    /* gap: 8px; */
    justify-content: space-evenly;
    
}
.Featured-Offers{
    max-width: 1400px;
background-color: #ee1e4e;
/* height: 300px; */
margin-right: auto;
margin-left: auto;
margin-bottom: 40px;
margin-top: 30px;
display: flex;
border-radius: 15px;
    
}
.right-featured{
    font-size: 23px;
    font-weight: 500;
    color: white;
    text-align: center;
}
.right-featured-1{
    
    color: white;

}
.featured-item-first{
    display: flex;
    align-items: center;
   justify-content: space-around;
   margin-right: 20px;
    flex-direction: column;
}
.featured-item{
    flex: 200;
    background-color: white;
    display: flex;
    padding: 5px;
    /* justify-content: space-evenly; */
    flex-direction: column;
    margin: 10px 5px;
    gap: 10px;

}
.text-h3{
    color: #999898;
    font-size: 12px;
}
.red-featured{
    color: white;
    background-color:#ee1e4e;
    border-radius: 100px;
    width: 45px;
    text-align: center;
}
.bottom-featured{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last-featured{
    text-align: left;
    font-size: 14px;
    padding-left: 10px;
    color: #999898;
    text-decoration-line:line-through ;
}
.add-main{
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
  justify-content: center;
   gap: 25px;
    
}
.add-main-1{
   border-radius: 18px;
   /* max-width: 100%; */
}
.Exclusive-Discounts{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    max-width: 1400px;
    height: 120px;
    margin: 20px auto;
    background-color: #d1cece;
}
.right-Exclusive{
    /* margin-right: 40px; */
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 20px;
}

.Exclusive-left{
    display: flex;
    align-items: center;
    background-color:#037d3c;
    color: white;
    padding: 2px 9px;
    border-radius: 100px;
}
.Exclusive-right{
    color: #037d3c;
    font-size: 25px;
    font-weight: bold;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}
.left-Exclusive{
    /* position: relative; */
    display: flex;
    gap: 10px;
    align-items: center;
}
.items-Exclusive{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    
   
}
.item-Exclusive-1{
    position: relative;
}
.overright-Exclusive{
    position: absolute;
    bottom: 0;
    /* left: 40px; */
    right: 0;
    display: flex;
    align-items: center;
    background-color: #d32f2f;
    font-size: 12px;
    border-radius: 50px;
    padding: 0 6px;
    /* bottom:1 ;
    right: 0; */
    
    
    color: white;
    z-index: 1;
}
.last-Exclusive{
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    padding: 15px;
    border-radius: 50px;
    color:#037d3c ;
    font-size: 14px;
}
.text-top-categories{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.top-categories{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-bottom: 30px;

}
.item-categories{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 700;
}
.Special-Promotions{
    display: flex;

    /* width: 20%; */
    /* justify-content: center; */
    /* gap: 20px; */
    /* border-radius: 10px; */
}
.container-Special-Promotions{
    display: flex;
    justify-content: space-between;
}